.oko_whatoko {
    display: flex;
    flex-direction: column;

    padding: 4rem;


}

.oko_whatoko-feature {
    display: flex;
    
}

/* Customizing feature component as per needs */
.oko_whatoko-feature .oko_features-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.oko_whatoko-feature .oko_features-container_feature-text {
    max-width: 700px;
}

.oko_whatoko-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #242424;
    
    margin: 4rem 0 2rem;
}

.oko_whatoko-heading h1 {
    font-size: 50px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    color:#242424;
    max-width: 510px;
}

.oko_whatoko-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8160;
    cursor: pointer;
}

.oko_whatoko-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

/* Customizing feature component as per needs */
.oko_whatoko-container .oko_features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.oko_whatoko-container .oko_features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .oko_whatoko-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .oko_what-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .oko_whatoko-feature .oko_features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .oko_whatoko-feature .oko_features-container_feature-text {
        margin-top: 0.5rem;
    }

    .oko_whatoko-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .oko_whatoko-container .oko_features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}